html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffffa;
  color: #2e2e2e;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 17px;
  line-height: 1.6em;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

hr {
  width: 25%;
  margin: 3rem auto 3rem auto;
}

ul {
  list-style: none;
  padding: 0;
}

#upper-container {}

#upper-menu {
  position: relative;
  display: inline-block;
  background-color: #414141;
  width: 100%;
  color: #fffffa;
  border-bottom: 0.5rem solid #2e2e2e;
  vertical-align: middle;
  padding-top: 3px;
}

#upper-menu a {
  color: #fffffa;
  padding-right: 2rem;
}

#upper-menu a:hover {
  color: #FFCE34;
}

#upper-menu li {
  display: inline;
}

#upper-menu ul {
  float: right;
  margin: 0;
  vertical-align: middle;
  padding: 0;
}

/*
.dropbtn {
  background-color: #414141;
  color: #fffffa;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1.6em;
  margin-right: 30px;
}

.dropbtn :active {
  color: #FFCE34;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #414141;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
  right: 5px;
}

*/

.dropbtn {
  background-color: #414141;
  color: #fffffa;
  padding: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #414141;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fffffa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2e2e2e}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2e2e2e;
}

.up-button {
  width: 3em;
  position: fixed;
  right: 8px;
  bottom: 8px;
}

/*

.dropbtn {
  background-color: none;
  color: #fffffa;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  overflow:  visible;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #414141;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #2e2e2e}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #999;
}

*/
.more-pic {
  width: 1.5rem;
}

.icon-img {
  width: 3rem;
  margin-left: 2.2rem;
}

@media screen and (max-width: 900px) {
  #upper-menu li:not(:last-child) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #upper-menu.responsive {
    position: relative;
  }

  #upper-menu.responsive li.icon-img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .topnav.responsive li {
    float: none;
    display: block;
    text-align: right;
  }
}

#middle-container {
  margin: auto;
  overflow: hidden;
  width: 60%;
  text-align: center;
}

.first-me-part {
  height: 20rem;
}

.first-me-part h2 {
  margin-top: 10rem;
}

.my-pic {
  width: 10rem;
  border-radius: 100%;
}

.certifications {
  overflow: hidden;
}

.certs {
  float: left;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.programming-skills {
  overflow: hidden;
}

.prolangs {
  float: left;
  width: 50%;
  padding: 0;
  box-sizing: border-box;
}

.software-skills {
  overflow: hidden;
}

.softs {
  float: left;
  width: 33.3%;
  padding: 0 30px;
  box-sizing: border-box;
}

.lang {
  overflow: hidden;
}

.langs p {
  float: left;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.langs .right {
  float: right;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.volunteer {
  overflow: hidden;
}

.vols {
  overflow: hidden;
}

.vols p {
  float: left;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.vols .right {
  float: right;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.personal-skills {
  overflow: hidden;
}

.skills {
  float: left;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.button6 {
  animation: bouncy 5s infinite linear;
  position: relative;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #FFCE34;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.button6:active {
  top: 0.1em;
}

@media all and (max-width:30em) {
  .button6 {
    display: block;
    margin: 0.4em auto;
  }
}

@keyframes button6 {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}

#footer {
  margin-top: 3rem;
  background-color: #FFCE34;
  color: #fffffa;
  font-weight: 600;
  padding: 0.1rem;
  border-top: 0.2rem solid #edbe2e;
  text-align: center;
}

#footer a {
  margin-top: 0.2rem;
  color: #fffffa;
}

#footer p {
  margin-top: 9px;
}
